<html>
    <head>
        <title>Tsundere Murder Cube</title>
        <link rel="stylesheet" href="..\static\commands.css">
        <link rel="icon" href="..\static\tmcicon.png">
    </head>
    <body>
        <div id="menuBar">
            <a href="127.0.0.1" id="mButton">Home</a>
            <a href="commands" id="mButton">Commands</a>
            <a href="about-us" id="mButton">About us</a>
        </div>
        <div id="main">
            <h1>Commands</h1>
            <h2>Mini-game</h2>
            Balance - Check yours or someone elses balance.<br>
            Buy - Buy items from the shop with spines.<br>
            Harvest - Go to harvest spines.<br>
            Inventory - Look at your own or someone elses inventory.<br>
            Shop - View items or a specific item in the shop.
            <h2>Other commands</h2>
            Disintegrate - Disintegrates someone.<br>
            Kill - Kill someone.<br>
            Pat - Give the cube some pats.<br>
            Ping - Check the ping of the bot.<br>
            Stab - Stab someone.<br>
            Statistics - Check yours or someone elses statistics.
            <h2>Important notice</h2>
            The command "signup" must be runned before using any of the commands. This is due to the fact that I've made an oversimplified database and didn't want to handle signing up correctly.
        </div>
    </body>
</html>