<html>
    <head>
        <title>Tsundere Murder Cube</title>
        <link rel="stylesheet" href="..\static\index.css">
        <link rel="icon" href="..\static\tmcicon.png">
    </head>
    <body>
        <div id="menuBar">
            <a href="127.0.0.1" id="mButton">Home</a>
            <a href="commands" id="mButton">Commands</a>
            <a href="about-us" id="mButton">About us</a>
        </div>
        <div id="main">
            <h1>Tsundere Murder Cube</h1>
            <h2>A small bit about us</h2>
            Spines! Spines! Spines!<br>A mini-game bot based around the character "I.C.-0n" and uses spines for currency. (To better fit the character)<br><br><br>
            If you want to know the bots commands then click the little button at the top called "Commands" or this little blue text: <a href="commands" id="hyperlinkh">Commands</a><br><br><br>
            However, if you want to know a further bit about us then... you know the gist: <a href="about-us" id="hyperlinkh">About us</a>
        </div>
        <div id="secondary">
            <div id="imagea">
                <div id="abc">Harvesting</div>
                Earn currency (spines) via harvesting.
                <img src="..\static\harvesting.png" alt="harvesting">
            </div>
            <div id="imageb">
                <div id="abc">Statistics</div>
                Check yours or someone elses statistics.
                <img src="..\static\statistics.png" alt="statistics" height="144px">
            </div>
            <div id="imagea">
                <div id="abc">Shop</div>
                Buy items from the shop with the spines you harvested.
                <img src="..\static\shop.png" alt="statistics" height="144px">
            </div>
        </div>
    </body>
</html>